@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Desktop View Mode */
/** HyperText Markup Language - Blade Components Tag */
a,
img,
::placeholder {
    -webkit-user-drag: none;
    user-select: none;
}

a:not(.pages) {
    color: var(--blue-500) !important;
}

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

/** Pseudo-classes */
:root {
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
    --gray-500: #6B7280;
    --white: #FFFFFF;
    --black: #000000;
}

button:active {
    transform: scale(0.9);
}

input:focus,
textarea:focus {
    border: 0.06rem solid var(--blue-500) !important;
}

/** Pseudo-elements */
::selection {
    background: var(--blue-500);
    color: var(--white);
}

::-webkit-scrollbar {
    height: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    border: 0.25rem solid var(--white);
    background-color: var(--blue-500);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-600);
}
